<div class="collage-boxes col-xs-12 col-sm-6">
	<div class="transc-box">
		<div class="announcement-clickable" {{action "toggleCenteredScrolling"}}>
			<h4 class="cardinal bold text" style="text-align: left">{{announcement.title}}</h4>
			<p class="divider"></p>
			<p class="text">{{announcement.body}}</p>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-9 col-md-10">
				<div style="text-align: center">
					<button class="btn grey-button delete-btn" onclick={{action "deleteAnnouncement" announcement}}>Delete Announcement</button>
				</div>
			</div>
			<div class="col-xs-2 col-md-1">
				{{important-button starred=isStarred onclick=(action "star" announcement)}}
			</div>

			<div class="col-xs-1 col-md-1">
			</div>
		</div>
	</div>
</div>

{{#if isShowingModal}}
	{{#modal-dialog
		onClose='toggleCenteredScrolling'
		translucentOverlay=true
		targetAttachment='none'
		containerClass='centered-scrolling-container'
		overlayClass='centered-scrolling-overlay'
		wrapperClass='centered-scrolling-wrapper'
	}}
		<form>
			<div class="row">
				<h4 class="cardinal bold">Title:</h4> 
				{{input type="text" value=announcement.title}}
			</div>
			<div class="row">
				<h4 class="cardinal bold">Body:</h4> 
				{{textarea value=announcement.body class="input-box-body"}}
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div style="text-align: center">
						<button class="btn grey-button" onclick={{action "updateAnnouncement" announcement}}>Update Announcement</button>
					</div>
				</div>
				<div class="col-sm-6">
					<div style="text-align: center">
						<button class="btn grey-button" {{action 'toggleCenteredScrolling'}}>Close</button>
					</div>
				</div>
			</div>
		</form>
	{{/modal-dialog}}
{{/if}}