<div class="row">
	<div class="col-xs-12">
		<div class="collage-boxes col-xs-12 col-sm-6" >
			<div class="transc-box">
				<form onsubmit={{action "createAnnouncement"}}>
					<p>Title:</p> {{input type="text" value=title}}
					<p>Body: </p> {{input type="text" value=body}}
					<p>Created: </p> {{date-picker}}
					<button class="btn grey-button" type="submit">Create Announcement</button>
				</form>
			</div>
		</div>

		{{#each model as |announcement|}}
			{{single-announcement announcement=announcement}}
		{{else}}
			<div class="collage-boxes col-xs-12 col-sm-6" >
				<div class="transc-box vertical-align-center">
					<h3 class="cardinal bold">No Announcements</h3>
				</div>
			</div>	
		{{/each}}
	</div>
</div>